.common {
  width: 95%;
  min-height: 300px;
  margin: 15px auto;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header {
  width: 95%;
  min-height: 100px;
  margin: 15px auto;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* impact section is here */
.impact1 {
  text-align: center;
  margin: 5px;
  padding: 20px 60px;
  line-height: 1.5;
}
.impact2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.impact2-3div {
  width: 30%;
  height: auto;
  background-color: rgb(54, 123, 250);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px;
  line-height: 1.5;
  text-align: center;
}
/* impact section is here */

.footer {
  width: 95%;
  min-height: 100px;
  margin: 15px auto;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 600px) {
  /* impact responsive section is here */
  .impact2 {
    display: flex;
    flex-direction: column;
  }
  .impact2-3div {
    width: 90%;
    height: auto;
  }
  /* impact responsive section is here */
}

